@{
    ViewBag.Title = "À propos";
    ViewBag.Message = "SGSv3 est la troisième itération d'un Système de Gestion de Stage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message.</h3>

<table class="table">
    <tr>
        <td width="20%">
            <img src="~/Image/PhotoGreg.PNG">
        </td>
        <td >
            <br /> <br /> <br />
            <strong>Greg BEAUJOIS</strong>
            <br /> <br />
            Souvent décrit comme un élément clé par défaut par ses collègues, tout le monde sait que sans ses blagues Carambar la vie serait beaucoup moins joyeuse.
        </td>
        <shadow></shadow>
    </tr>
    <tr>
        <td width="20%">
            <img src="~/Image/PhotoQuentin.jpg" width="168" height="213">
        </td>
        <td>
            <br /> <br /> <br />
            <strong>Quentin LE HENAFF</strong>
            <br /> <br />
            Il passe plus de temps à la salle de musculation pour entretenir son corps plutot que de travailler sur le site mais il reste tout de même un bon élément pour tous.
        </td>
    </tr>
    <tr>
        <td width="20%">
            <img src="~/Image/PhotoRichard.jpg" width="168" height="213">
        </td>
        <td>
            <br /> <br /> <br />
            <strong>Richard MOTTET</strong>
            <br /> <br />
            Plus compétent en réseautique qu'en développement et à League of Legends, il s'accroche et fait de lui un élément tenace.
        </td>
    </tr>
</table>

    <p>Ce site a été développé par ces étudiants sous la supervision de Nicolas Gagnon au cours de la session d'hiver 2016.</p>
